ul {
    list-style: none;
  }
  
  @media screen and (min-width: 320px) {
    nav{
      background-color: antiquewhite;
    }
  }
  
  @media screen and (min-width: 641px) {
    nav {
      display: flex;
      justify-content: space-between;
      background-color: aquamarine;
    }
    ul {
      display: flex;
      gap: 20px;
    }
  }
  
  @media screen and (min-width: 1025px) {
    nav {
        display: flex;
        justify-content: space-between;
        background-color: aliceblue
      }
      ul {
        display: flex;
        gap: 25px;
      }
  }